@import "../../../../../styles/palette";
@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";
@import "../../../../../styles/media-queries";

.container{
     
    .right{
        padding-left:6em;
        padding-top:2em;
        width:35%;
        text-align: center;

        h1{
            @include heading(60px, $button-color)
        }
  img{
    width:100%;
    height:100%;
    object-fit: cover;
   }
    }

    .left{
        width:60%;

        .goals-container{
            width:60%;

            button{
                margin-bottom:2px;
            }

            h2{
                color:$primary-bg-color;
                margin-bottom:3em;
                max-width:200px;
                text-align: center;
            }
        }

        .completed-tasks{
            width:35%;
        }

        
    }

    .links{
        background-color: rgba(92, 18, 209, 0.25);
        a{
            color:$button-color;
            font-size: 24px;
        }
    }
 

}

@media (max-width:$tablet-width){
    .container{
        padding:2em;
     
        .right{
            padding-left:3em;
            padding-top:2em;
    
            h1{
              font-size:50px;
            }
        }
    
        .left{
            flex-direction: column;
    
            .goals-container{
                input{
                    width:250px;
                }
            }
    
        
    
            
        }

        .links{
            a{
                font-size: 18px;
            }
        } 

     
    
    }

}

@media (max-width:$mobile-width){
    .container{
        padding:10px 20px;

        .mobile{
            flex-direction: column;
     
        .right{
            width:100%;
            padding:0;
            display:flex;
            justify-content: space-between;
            padding-top:1em;
            margin-bottom: 20px;
    
            h1{
                padding-top:30px;
              font-size:40px;
            }

            img{
                width:200px;
            }
        }
    
        .left{
            flex-direction: column;
            justify-content: center;
    
            .goals-container{
                input{
                    width:200px;
                }
            }
    
            .completed-tasks{
                width:35%;
            }

            
    
            
        }
    
       
     
        }

        .links{
            a{
                font-size: 15px;
            }
        }
    }

}