<h1>To Do List</h1>
<div class="wrapper">
        <ng-container *ngIf="showPercent | async">
            <h2 >You have completed {{status | async}} % of your tasks</h2>
        </ng-container>
   

    <ng-container *ngIf="updating | async; else add">
        <button (click)="update()">update</button>
    </ng-container>
    <ng-template #add>
        <button [disabled]="description.invalid" (click)="onAddClick()">Add</button>
    </ng-template>

    <input type="text" [formControl]="description" placeholder="type in your goals for today">
    <ng-container *ngIf="description?.invalid && (description?.touched)">
        <p>Please type in short description of the activity you would like to accomplish today</p>
    </ng-container>

   
</div>



<app-goals *ngFor="let task of tasksSubject | async"
[vm]="task"
(edit)="selectTask(task)"
(delete)="delete(task.id)"
(completed)="complete(task)">

</app-goals>

<app-completed
[completedTasks]="completedTasks" 
>
    
</app-completed>

<a routerLink="/chart">Go to your SM chart</a>


