.wrapper{
    position: relative;
    width:50%;
    margin:0 auto;
    height:auto;
    background-color:rgba(255, 255, 224, 0.5);
    padding:1.5em 0 5em 10em;
    border-radius:10px;
}

.add-button{
    position:absolute;
    top:19em;
    left:42em;
}