<section class=" hero">
    <h1>Wellcome!</h1>
    
    <h2>Choose to start Your Day Mindfully</h2>
    <div class=" button-container flex column">
        <button class="pink cta" *ngIf="showButton" (click)="onClick()">Get Started</button>
        <ng-container *ngIf="showOptions">
            <button class="to-do-list" routerLink="/todo" >To Do List</button>
            <button class="pa" routerLink="/pa">Plan yout physical activity</button>
            <button class="sm" routerLink="/sm" >Track Your Stress Levels</button>
        </ng-container>
        
        <button class="pink" routerLink="sign-up">Sign up for our weekly newsletter</button>
    </div>
</section>
