@import "../../../../../styles/media-queries";
form{
    padding: 1em;
    margin-bottom:3px;

    .reg{
        display:block;
        margin-top:2px;
    }
}

@media (max-width:$tablet-width){
    form{
        width:85%;
        padding:2em 1em;
        label,input,p{
            font-size:18px;
        }

        input{
            width:90%;
        }
    }
}