@import "../../../../../styles/palette";
@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

section {
  .wrapper {
    background-image: url("../../../../../assets/images/66261.jpg");
    padding:2em 3em;

    .suggestions{
        width:40%;
        text-align: center;

        button{
            background-color:$primary-bg-color;
            font-size:24px;
            border:none;
            border-radius:15px;
        }
        ul{
            padding:0.5em 1em;
            background-color: rgba(237, 148, 167, 0.9);
            border-radius: 10px;
            list-style: disc;
            border:1px solid $secondary-color;
            
            li{
                color:$button-color;
                font-size: 18px;
            }
        }

        p{
            background-color: rgba(237, 148, 167, 0.9);
            border-radius: 15px;
            border-style: groove;
            padding:1.5em 2.5em;
            font-size:30px;
            font-family: $secondary-font-family;
            color:$secondary-color;
            line-height: 1.5;
            letter-spacing: 1.5px;
            word-spacing: 1.5;
        }
    }
  }
}
