@import "../../../styles/palette";
@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/media-queries";
.wrapper{
    height:85vh;
    width:auto;
    background-image: url('../../../assets/images/60157897099667.jpg');
   

    .auth{
         padding-right:3em;
         padding-left:5em;
         height:100%;
        .left{
            width:40%;
           h1{
            @include heading(46px, $primary-color);
            max-width:8em;

            span{
                color:$secondary-color;
                font-size: 46px;
            }
           }
        }

        .right{
            width:40%;

            a{
                color:$primary-color;
                display: inline-block;
                margin-left:16em;
            }
        }
    }

   
}

@media (max-width:$tablet-width){

   article.wrapper{
        max-width:$tablet-width;
        padding:100px 20px;
    .auth{
        padding:5px 10px;
        width:600px;
        margin:0 auto;
        justify-content: space-around;

        .right{

        a{
            margin-left:0;
        }
    }

    .left{
    
  h1{
    font-size:38px;
    max-width:300px;
    padding-left:0.5em;

    span{
        font-size: 38px;
    }
  }
}

}

}
}

@media (max-width:$mobile-width){
   
    article.wrapper{
        max-width:$mobile-width;
        padding:80px 20px;
        height:auto;
    .auth{
        padding:5px;
        width:100%;
        margin:0 auto;
        flex-direction: column;
        justify-content: space-between;

        .right{
            width:100%;

        a{
            margin-left:0;
        }
    }

    .left{
        width:100%;
        margin-bottom:15px;
    
  h1{
    font-size:25px;
    max-width:300px;
    
    padding-left:0.5em;

    span{
        font-size: 25px;
    }
  }
}

}

}
}


