@import "../../../../../styles/palette";
.pa{
    background-image: url('../../../../../assets/images/__89_generated.jpg');
    min-height:100vh;

    app-pasuggestions{
        width:40%;
    }

    app-paform{
        width:40%;
    }

    .links{
      
       background-color: rgba(18, 50, 23, 0.7);
       a{
       font-size:24px;
       color:$primary-color;
       }
    }

}