<header>
  <nav>
    <ul class="flex justify">
      <li>
        <a routerLink="/hero"
          ><img
            src="../../../../assets/images/icons8-wave-64.png"
            alt="easy wave logo"
        /></a>
      </li>

      <div class="affirm">
        <li>
          <button
            *ngIf="showButton | async; else affirm"
            (click)="affirmation()"
            class="affirmation"
          >
            Try your luck and get your affirmation for today
          </button>
        </li>
        <ng-template #affirm>
          <li class="affirm-text">{{ dailyAffirmation | async }}</li>
        </ng-template>
      </div>

      <li *ngIf="loggedIn | async">
        <a routerLink="/todo">To Do List</a>
      </li>
      <li *ngIf="loggedIn | async">
        <a routerLink="/pa">PA Log</a>
      </li>
      <li *ngIf="loggedIn | async">
        <a routerLink="/sm">SM Chart</a>
      </li>
      <li *ngIf="loggedIn | async; else login" (click)="logout()">
        <button class="log-out">Log out</button>
      </li>
      <ng-template #login>
        <li routerLink="auth"><button class="log-in">Log in</button></li>
      </ng-template>
    </ul>
  </nav>
</header>
