@import "../../../../styles/palette";
.sign-up{
    background-image: url('../../../../assets/images/5586989.jpg');
    padding:5em;
    text-align: center;
    
    .container{
        background-color: $primary-color;
        width:40%;
        margin:0 auto;
        padding:2em 5em;
        border-radius: 10px;

        label{
            font-size: 24px;
            display:block;
            margin-bottom:10px;
        }

        input{
            width:300px;
            margin-left:3em;
        }

        button{
            font-size:17px;
            margin-bottom:1em;
        }
    }
}